@font-face {
	font-family: "Lato";
	src: url("/static/webfonts/Lato-Regular.ttf") format('truetype');
}

@font-face {
	font-family: "Inter";
	src: url("/static/webfonts/Inter-SemiBold.ttf") format('truetype');
}

@font-face {
	font-family: "Open Sans";
	src: url("/static/webfonts/OpenSans-Bold.ttf") format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
